.navbar .title {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1024px;
}

.divider {
    height: 1px;
    background-color: #eee;
}

.skill-icon {
    width: 120px;
    padding: 10px 20px;
}

.skill-icon-wide {
    width: 200px;
    padding: 10px 20px;
}

.columns-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.condensed {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-style: italic;
    font-weight: 700;
}

.inline-center-vertical {
    display:flex; flex-direction: row; align-items: center;
}

.circle-icon-primary {
    border-radius: 60px;
    padding: 8px;
    background-color: #00d1b224
}

.circle-icon-yellow {
    border-radius: 60px;
    padding: 8px;
    background-color: #fff6d3
}

.has-background-whitewash {
    background: #f4feff
}

.chips li {
    display: inline-block;
    margin: 5px;
    padding: 4px 8px;
    background-color: #6de6ca;
    border-radius: 4px;
}

.yellow-chip li {
    background-color: #ffdd57 !important;
}

.drop-shadow-bottom {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(217,213,217,0.39);
    -moz-box-shadow: 0px 2px 5px 0px rgba(217,213,217,0.39);
    box-shadow: 0px 2px 5px 0px rgba(217,213,217,0.39);
}

.logo {
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.profile-image {
    border-radius: 250px;
    height: 150px;
    border: 3px solid #3273dc;
    padding: 5px;
}

.hero-bg {
    background-image: url('../images/rawpixel-594848-unsplash.jpg');
    background-size: cover
}

.resume {
  padding-top: 19px;
}

.button:hover {
  -webkit-transform: translateY(-3px);
  box-shadow: 0 10px 20px hsla(0, 0%, 86.3%, .5);
  transform: translateY(-3px);
}

.button.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.button.linkedin-in {
  background-color: #0077b5;
  border-color: #0077b5;
}

.button.github {
  background-color: #333;
  border-color: #333;
}
.button.xing{
  background-color: #126567;
  border-color: #126567;
}
.slider-item{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.cu-hovered:hover{
  color:black !important;
  font-size:1.05rem;
}
.apex_expert{
  box-shadow: inset 0 -6px 0 rgba(19, 216, 153, 0.95);
}
.apex_leader{
  box-shadow: inset 0 -6px 0 rgba(36, 177, 209, 0.97);
}
.web_designer{
  box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.96)
}

.mobile_app{
    box-shadow:inset 0 -6px 0 rgba(255, 74, 110, 0.98)
}
